
.sword{
    position: fixed;
    height: 220px;
    display: flex;
    flex-direction: column;
    top: 0;
    z-index: 2;
    justify-content: center;
    align-items: center;
    translate: 50vw -150px;
}

.swordMedia, .swordEffect{
    width: 30px;
    height: 220px;
}

.swordAnimate{
    transition: all .3s ease-in;
}

.swordEffect{
    background-color: #4B4E53;
    color: white;
    opacity: 1;
    width: 15px;
    z-index: 1 !important;
    transition: none;
    flex-shrink: 0;
    translate: 0px 220px;
}
.swordMedia{
    z-index: 100;
}

.effectActive{
    opacity: 1;
    transition: all .1s ease;
    transition-delay: 300ms;
     
}

