
.sword,.swordEffect{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    transition: all .3s ease-in;
    margin-left: -60px;
    margin-top: 0px;
    translate: 40vw;
    z-index: 2;
}

.swordMedia, .swordEffect{
    width: 100px;
    height: 220px;
}

.swordEffect{
    background-color: #4B4E53;
    color: white;
    opacity: 0;
    width: 5px;
    left: 4.5%;
    transition: all .2s ease;
    transition-delay: 300ms;
    z-index: 1 !important;
    height: 320px;
}

.effectActive{
    opacity: 1;
}

