$pageClr: #4B4E53;
$scndryClr: #F6F3F0;
$third: #000;

.previewImg {
    border-radius: 6px;
    max-width: 100%;
    max-width: 450px;
    height: 350px; /* [1.1] Set it as per your need */
    overflow: hidden;
    transform-origin: 50% 100%;
    transition: all ease;
    filter: brightness(70%);
    object-fit: cover;
    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;
    
}
.projectWrapper {
    transform: translate(0%);
    transition: all .5s ease-in-out;
}

.InfoContainer{
    transition: all .5s ease;
}

.previewContainer {
    border-radius: 4px;
}

.typeOfWork{
    font-size: 1.5rem;
    color: #CDCACA;
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
}   

.InfoContainer, .aboutIt{
    h1{
        font-size:3rem;
        font-weight: 500;
    }
    h2{
        font-size: 2.5rem;
        font-weight: 400;
    }
    h3{
        font-size: 2.4rem;
    }

    p{
        font-size: 1rem;
    }
    span{
        font-size: 1.5rem;
        font-family: 'League Spartan', sans-serif;
        font-weight: 300;
    }
}



.previewContainer {
    padding-right: 10px;
}

.previewContainer:hover .previewImg {
    filter: brightness(100%);
    transform: scale(110%);
}

.projectInfo {
    width: 100%;
    height: auto;
}

.mainTranslate{
    transform: translateX(30%) !important;
}




@media (min-width: 768px) {

    .projectTitle {
        font-size: 32px;
    }

    .projectInfo {
        font-size: 20px;
        padding-left: 5px;
    }
}

@media(max-width: 767px) {
    .mainTranslate{
        transform: translateX(10%) !important;
    }
    .InfoContainer, .aboutIt{
        h1{
            font-size:2.5rem;
            font-weight: 500;
        }
        h2{
            font-size: 2.1rem;
            font-weight: 400;
        }
        h3{
            font-size: 2rem;
        }
    
        p{
            font-size: .8rem;
        }
        span{
            font-size: 1.2rem;
            font-family: 'League Spartan', sans-serif;
            font-weight: 300;
        }
    }
    .previewImg {
        border-radius: 6px;
        max-width: 100%;
        max-width: 450px;
        height: 350px;
    }
    .projectTitle {
        font-size: 20px;
    }

    .projectInfo {
        font-size: 15px;
        flex-wrap: wrap;
    }

    .previewContainer {
        margin: auto;
        padding: 0;
    }
}


@media (max-width: 500px) {

    .InfoContainer, .aboutIt{
        h1{
            font-size: 1rem;
            font-weight: 500;
        }
        h2{
            font-size: 2.1rem;
            font-weight: 400;
        }
        h3{
            font-size: 2rem;
        }
    
        p{
            font-size: .8rem;
        }
        span{
            font-size: 1.2rem;
            font-family: 'League Spartan', sans-serif;
            font-weight: 300;
        }
    }
    .previewImg {
        border-radius: 6px;
        max-width: 100%;
        max-width: 450px;
        height: 350px;
    }
}

.scndCol{
    overflow-y: hidden;
}
