$pageClr: #4B4E53;
$scndryClr: #F6F3F0;
$third: #000;

.previewImg {
    border-radius: 6px;
    max-width: 100%;
    flex-basis: 50%;
    max-width: 600px;
    height: 400px; /* [1.1] Set it as per your need */
    overflow: hidden;
    transform-origin: 50% 100%;
    transition: all ease;
    filter: brightness(70%);
    object-fit: cover;
    transform: scale(1.2) translateY(0%);
}

.InfoContainer{
    width: 100%;
    flex-basis: 50%;
}

.previewContainer {
    overflow: hidden;
    border-radius: 2px;
}

.typeOfWork{
    font-size: 1.5rem;
    color: #CDCACA;
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
}   

.InfoContainer, .aboutIt{
    h1{
        font-size:3rem;
        font-weight: 500;
    }
    h2{
        font-size: 2.5rem;
        font-weight: 400;
    }
    h3{
        font-size: 2.4rem;
    }

    p{
        font-size: 1rem;
    }
    span{
        font-size: 1.5rem;
        font-family: 'League Spartan', sans-serif;
        font-weight: 300;
    }
}

.previewImgContainer{
    overflow: hidden;
}

.previewContainer {
    padding-right: 10px;
}

.previewContainer:hover .previewImg {
    filter: brightness(100%);
    transform: scale(110%);
}

.projectInfo {
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .projectTitle {
        font-size: 32px;
    }

    .projectInfo {
        font-size: 20px;
        padding-left: 5px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .projectTitle {
        font-size: 20px;
    }

    .projectInfo {
        font-size: 15px;
        flex-wrap: wrap;
    }

    .previewContainer {
        margin: auto;
        padding: 0;
    }
}

.projectWrapper {
    max-width: 1280px;
    overflow: hidden;
    width: 100%;
}

.scndCol{
    overflow-y: hidden;
}
