$pageClr: #000;
$scndryClr: #B90000;
$third: #fff;

.eyesContainer{
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

}

.eyesWrapper{
    display: flex;
    justify-content: space-between;
    max-width: 1008px;
    width: 100%;
}


.rightEyeContainer{
    clip-path: polygon(54% 10%, 100% 0, 89% 70%, 60% 90%, 0 99%, 10% 68%, 25% 40%);
}
.leftEyeContainer{
    clip-path: polygon(34% 4%, 62% 24%, 86% 59%, 100% 100%, 44% 94%, 0 57%, 0 0);
}


.sharinganWrapper{
    position: absolute;
    width: 180px;
}

.sharingan{
    width: 82px;
}
