$pageClr: #4B4E53;
$scndryClr: #F6F3F0;
$third: #000;

.greetingBox {
    max-width: 650px;
    color: #fff ;
    font-size: 17px;
    letter-spacing: 1px;
  }
  
  .greetingBox h1 {
    line-height: 55px;
    font-weight: 700;
  }
  
  .myImg{
    object-fit: cover;
    max-width: 350px;
    max-height: 470px;
  }

  .autoType{
  font-family: 'League Spartan', sans-serif;
  color: $scndryClr;
    
  }

  



