
$pageClr: #515152;
$scndryClr: #08fdd8;

.greetingBox {
    color: #fff ;
    font-size: 17px;
    // padding-top: 15%;
    margin: auto;
    letter-spacing: 1px;
    line-height: 26px;
    padding-left: 10px;
  }
  
  .greetingBox h1 {
    font-size: 75px;
    line-height: 160px;
    font-weight: 700;
  }
  
  



