
$pageClr: #515152;
$scndryClr: #08fdd8;

.socialIcon{
    margin-left: 5px;
    margin-right: 5px;
    height: 30px;
    width: 30px;
    color: #fff;
}

.socialTitle{
    text-align: center;
    font-size: 30px;
    line-height:50px;
    color: $scndryClr;
}

