$pageClr: #000;
$scndryClr: #B90000;
$third: #fff;

.mediacontainer{
    height: 200px;
    // height: 100%;
    width: 100%;

}

.socialIcon{
    margin-left: 5px;
    margin-right: 5px;
    height: 30px;
    width: 30px;
    color: #fff;
}

.socialTitle{
    text-align: center;
    font-size: 30px;
    line-height:50px;
    color: $scndryClr;
}

