
$pageClr: #000;
$scndryClr: #B90000;
$third: #fff;


.contactWrapper{
    z-index: 20;
    position: relative;
}


.formInput{
    border-bottom: 1px solid $third  ;
    color: #fff;
    -webkit-text-fill-color: #fff;  
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    max-width: 400px;
    width: 100%;
    outline:none;
    background: transparent;
}

.inputWrapper{
    display: grid;

}

.myInfoTitle{
    font-size: 3rem;
    color: $scndryClr;
}

.inputLabel{
    color: $third;
}

.formInputContainer{
    max-width: 500px;
}

.myInfoAbout{
    p{
        font-family: 'League Spartan', sans-serif;
        font-size: 1.2em;
    }
}

.aboutInput{
    height: 50px;

}


// @media (min-width:768px)  {
//     .miniInput{
//         max-width: 300px;  
          
//     }
// }

// @media (min-width: 320px ) and (max-width:767px ) {
//     .miniInput{
//         max-width: 800px;
//     }
// }


.viewContact{
    opacity: 1;
    visibility: visible;
    transition: all 1.5s ease;
}

.closeContact{
    opacity: 0;
    visibility: hidden;
}


