@use '../../Utilities.scss' as v;


 


.formInput{
    border-bottom: 1px solid ;
    -webkit-text-fill-color: v.$scndryColor;  
    outline:none;
    background: transparent;
}

.inputWrapper{
    display: grid;

}




.myInfoAbout{
    p{
        font-family: 'League Spartan', sans-serif;
        font-size: 1.2em;
    }
}

.aboutInput{
    height: 50px;

}


// @media (min-width:768px)  {
//     .miniInput{
//         max-width: 300px;  
          
//     }
// }

// @media (min-width: 320px ) and (max-width:767px ) {
//     .miniInput{
//         max-width: 800px;
//     }
// }


.viewContact{
    opacity: 1;
    visibility: visible;
    transition: all 1.5s ease;
}

.closeContact{
    opacity: 0;
    visibility: hidden;
}


