@use '../../Utilities.scss' as v;


.sectionWrapper {
    color: #fff;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 30rem;
    max-width: 1280px;
}



.catigoryTitle {
    color: v.$scndryColor;
    transition: all 0.5s ease;
    z-index: 10;
    cursor: pointer;
}

.catigoryTitle:nth-child(2) {
    transition-delay: 30ms;
}
.catigoryTitle:nth-child(3) {
    transition-delay: 50ms;
}




.workRefresh {
    top: 0;
    left: 0;
    transform: translateX(-70vw) !important;
    opacity: 0;
    transition: 0;
    visibility: hidden;
    transition: none !important;
}

.projectsArrow {
    position: absolute;
    z-index: 20;
    top: 50%;
    transition: all 0.3s ease;
}
.projectsArrowLeft {
    left: 0;
}

.projectsArrowRight {
    right: 0;
}

.offWorkTop {
    top: 0;
    left: 0;
    transform: translateY(-100vw);
    opacity: 0;
    transition: 0;
    visibility: hidden;
}



@media (max-width: 768px) {
   
    
    .projectsArrow{
        display: block  !important;
    }
    
    .viewWork {
        margin: 0;
        opacity: 1;
        transition: 1s;
        visibility: visible;
    }

    .offWork {
        left: 0;
        margin-left: -300px;
        opacity: 0;
        transition: 0;
        visibility: hidden;
    }

}

@media (max-width: 425px) {
   
    
 
}
