$pageClr: #000;
$scndryClr: #b90000;
$third: #fff;

.sectionWrapper {
    color: #fff;
    z-index: 1;
    overflow: hidden;
    width: 72rem;
    height: 50rem;
}

.projectsWrapper {
    position: relative;
    transition: all 1s ease;
    flex-wrap: nowrap;
    min-height: 300px;
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    scale: 1;
}

.catigoryTitle {
    font-size: 3rem;
    color: $scndryClr;
    font-weight: 700;
    transition: all 0.5s ease;
    z-index: 10;
    scale: 1;
}

.catigoryTitle:nth-child(2) {
    transition-delay: 30ms;
}
.catigoryTitle:nth-child(3) {
    transition-delay: 50ms;
}

.navCenter {
    translate: 150% 200%;
    scale: 1.3;
}
.navCenter2 {
    translate: 150% 200%;
    scale: 1.3;
}
.navCenter3 {
    translate: 700% 200%;
    scale: 1.3;
}

.workRefresh {
    top: 0;
    left: 0;
    transform: translateX(-70vw) !important;
    opacity: 0;
    transition: 0;
    visibility: hidden;
    transition: none;
    scale: 0.9;
}

.projectsArrow {
    position: absolute;
    z-index: 20;
    top: 50%;
    transition: all 0.3s ease;
}
.projectsArrowLeft {
    left: 0;
}

.projectsArrowRight {
    right: 0;
}

.offWorkTop {
    top: 0;
    left: 0;
    transform: translateY(-100vw);
    opacity: 0;
    transition: 0;
    visibility: hidden;
}

.categoriesWrapper {
    padding-left: 2em;
}

@media (max-width: 1028px) {
    .sectionWrapper {
        width: 55rem;
    }

    .catigoryTitle {
        font-size: 2.5rem;
    }
}

@media (max-width: 768px) {
    .sectionWrapper {
        width: 48rem;
    }

    .catigoryTitle {
        font-size: 2.2rem;
    }
    .viewWork {
        margin: 0;
        opacity: 1;
        transition: 1s;
        visibility: visible;
    }

    .offWork {
        left: 0;
        margin-left: -300px;
        opacity: 0;
        transition: 0;
        visibility: hidden;
    }

    .categoriesWrapper {
        text-align: center;
        padding-left: 0em;
    }
}

@media (max-width: 425px) {
    .sectionWrapper {
        width: 22rem;
    }
    .catigoryTitle {
        font-size: 1.8rem;
        text-align: center;
    }
}
