
$pageClr: #515152;
$scndryClr: #08fdd8;

.sectionWrapper{
    color: #fff;
    max-width: 72rem;
}

.workWrapper{
    overflow-x: hidden;
}


.viewWork{
    margin: 0;
    opacity: 1;
    transition: 1s;
    visibility: visible;
}

.offWork{
    top: 0;
    left: 0;
    margin-left: -2395px;
    opacity: 0;
    transition: 0;
    visibility: hidden;
}



@media (max-width:600px){
    .viewWork{
        margin: 0;
        opacity: 1;
        transition: 1s;
        visibility: visible;
    }
    
    .offWork{
        left: 0;
        margin-left: -300px;
        opacity: 0;
        transition: 0;
        visibility: hidden;
    }

    .sectionWrapper{
        max-width: 19rem;
    }
    
}



