@use './Utilities.scss' as v;



h1, h2, h3, .mainFont, .btn span{
  font-family: v.$mainFont, sans-serif;
}

.mainColor{
  color: v.$mainColor;
}
.scndryColor{
  color: v.$scndryColor;
}



input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px black inset !important;
}
