
$pageClr: #515152;
$scndryClr: #08fdd8;

@font-face {
  font-family: "Montserrat";
  src: url(./assets/Montserrat-VariableFont_wght.ttf);
}
#root {
  height: 100%;
  width: 100%;
  font-family: "Montserrat";
}

.btn {
  margin-top: 30px;
  display: inline-block;
  border-radius: 6px;
  border: 2px solid $scndryClr;
  padding: 10px 30px;
  margin-left: 30px;
}

.btnA {
  background: linear-gradient(45deg, $pageClr 50%, $scndryClr 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: $pageClr;
  position: relative;
  font-weight: 600;
  transition: 0.7s;
}

.btnA::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(45deg, $scndryClr 50%, $pageClr 50%);
  z-index: -1;
}

.btnA,
.btnA:after {
  background-size: 400px;
  background-position: 0;
  transition: 0.7s;
}

.btnA:hover,
.btnA:hover:after {
  background-position: 99%;
  -webkit-text-fill-color: #fff;
  
}

.btnB {
  background: linear-gradient(45deg, $scndryClr 50%, $pageClr 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff;
  position: relative;
  font-weight: 600;
  
}

.btnB:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(45deg, $scndryClr 50%, $pageClr 50%);
  z-index: -1;
}

.btnB,
.btnB:after {
  background-size: 400px;
  background-position: 99%;
  transition: 0.7s ;
}


.btnB:hover,.btnB:hover:after{
  background-position: 0;
  -webkit-text-fill-color: $pageClr;
  
  
}

.sectionTitle{
  font-size: 60px;
  text-align: center;
  color: $scndryClr;
  font-weight: 600;

}


