
@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  height: 100%;
}
#root{
  height: 100%;
}

body {
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  background-color: #f0f0f5 ;
  overflow: auto;
  outline: none;
  position: fixed;
}



