
$pageClr: #515152;
$scndryClr: #08fdd8;

.myInfoWrapper{
    color: #fff;
    max-width: 1240px;
    width: 100%;
    margin: auto;
    font-size:20px ;
    line-height: 35px;
}

.skillTitle{
    font-size: 30px;
    font-weight: 600;
    color: $scndryClr;
}

