$pageClr: #515152;
$scndryClr: #08fdd8;

.aboutMeWrapper {
    overflow-y: hidden;
    
}

.myInfoWrapper {
    color: #fff;
    width: 100%;
    margin: auto;
    font-size: 20px;
    line-height: 35px;
}

.skillTitle {
    font-size: 30px;
    font-weight: 600;
    color: $scndryClr;
}

.hyperText {
    color: $scndryClr;
    text-decoration: underline;
}

.viewAboutMe {
    transform: translateY(0);
    opacity: 1;
    transition: all 1.5s ease;
    visibility: visible;
}

.offAboutMe {
    top: 0;
    transform: translateY(-100vh);
}

@media (max-width: 600px) {
    .viewWork {
        margin: 0;
        opacity: 1;
        transition: 1s;
        visibility: visible;
    }

    .offWork {
        left: 0;
        margin-left: -300px;
        opacity: 0;
        transition: 0;
        visibility: hidden;
    }

    .sectionWrapper {
        max-width: 19rem;
    }
}
